$spacing: 1em;

$grays: #EEE #CCC #999 #444 #333; 

// blue
$btc-compound: #222F43 #D4A91A #222112 #000000 #237AA9;
$btc-shades: #C0E2FF #6991CF #49658F #283850 #222F43  #1A2433;

// green
$ltc-compound: #208F62 #04BBDB #382322 #00343D #D64284;
$ltc-shades: #31DB96 #239C6B #208F62 #1A7551 #124F36;

// yellow
$doge-compound: #F5D245 #51522A #2D374C #2D374C #2074B2;
$doge-shades: #CCAF39 #F5D245 #877426 #453B13 #211C09;

$white: #fff;
$primary-color: nth($btc-compound, 1);
$secondary-color: nth($doge-compound, 1);
$tertiary-color: nth($ltc-compound, 1);

@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
