// border-box everything
@include border-box-sizing;

html { height: 100%; position: relative; }
body {
	background-color: $white;
	font-size: 13px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: nth($btc-shades, 4);
	min-height: 100%;
	position: absolute;
	width: 100%;
}

a, a:visited {
	color: nth($btc-shades, 2);
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	.highlight {
		color: $primary-color;
		transition: all 0.1s ease-in-out;
	}
}

a:hover {
	color: $tertiary-color;
	.highlight { color: $secondary-color; }
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	&:first-child { margin-top: 0; }
}
h1 { font-size: 3.2em; }
.section-title { background: none; padding: 0; margin: 0; }
