@mixin theme-graph($color-list){
	.line-graph {
		.line {
			stroke: nth($color-list, 3);
		}

		.bg-fill {
			fill: nth($color-list, 1);
		}

		.axis {
			&.x {
				.tick line {
					stroke: nth($color-list, 1);
				}
			}
			&.y {
				.tick line {
					stroke: $white;
					stroke-opacity: 0.5;
				}
			}
		}

		.area {
			fill: nth($color-list, 2);
		}

		.point {
			fill: nth($color-list, 4);
		}
	}
}

.line-graph {

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	text {
		fill: #333;
	}
	.line {
	  fill: none;
	  stroke: #000;
	  stroke-width: 2px;
	}

	.tick line {
		stroke: #000;
	}

	.pane {
		fill: none;
		cursor: move;
		pointer-events: all;
	}

}

@include theme-graph($btc-shades);
