// SUSY SETTINGS
$column-count: 12;
$gutter-width: 1/4;
$susy: (
	global-box-sizing: border-box,
	math: fluid,
	gutters: $gutter-width,
	columns: $column-count,
);

// VENDOR
@import "normalize-scss/normalize";
@import "susy/sass/susy";

@include border-box-sizing();

@import "partials/base";
@import "partials/global";
@import "partials/grid";
@import "partials/header";
@import "partials/footer";

@import "partials/views/grid";

@import "partials/ui/line-graph";
